<form class="k-form">
  <label class="k-form-field">
    <span translate>SETTINGS.ABOUT.VERSION</span>
    <div><strong>{{applicationInfo?.version}}</strong></div>
  </label>
  <label class="k-form-field">
    <span translate>SETTINGS.ABOUT.CREATED_FROM_DAWI_TEMP_VERSION</span>
    <div><strong>{{applicationInfo?.templateVersion}}</strong></div>
  </label>  
  <label class="k-form-field">
    <span translate>SETTINGS.ABOUT.ENVIRONMENT</span>
    <div><strong>{{applicationInfo?.environment}}</strong></div>
  </label>    
  <label class="k-form-field">
    <span translate>SETTINGS.ABOUT.DESCRIPTION</span>
    <div><strong>{{applicationInfo?.description}}</strong></div>
  </label>  
  <label class="k-form-field">
    <span translate>SETTINGS.ABOUT.CUSTOMERNAME</span>
    <div><strong>{{applicationInfo?.customer}}</strong></div>
  </label>     
  <label class="k-form-field">
    <span translate>SETTINGS.ABOUT.COPYRIGHT</span>
    <div><strong>{{applicationInfo?.copyright}}</strong></div>
  </label>   
</form>
