<div class="svg-box">
<svg version="1.1" id="edger" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="308px" height="400px" viewBox="0 0 308 400" enable-background="new 0 0 308 400" xml:space="preserve">
<g id="mis" *ngIf="data.status.mis">
	<rect x="-1.179" y="204.408" fill="#FC5204" stroke="#000000" stroke-miterlimit="10" width="310.359" height="6.037"/>
</g>
<g id="base">
	<circle fill="#E5E5E5" stroke="#000000" stroke-miterlimit="10" cx="12.998" cy="220.518" r="9.459"/>
	<circle fill="#E5E5E5" stroke="#000000" stroke-miterlimit="10" cx="12.998" cy="220.517" r="6.853"/>
	<circle fill="#E5E5E5" stroke="#000000" stroke-miterlimit="10" cx="36.248" cy="220.518" r="9.459"/>
	<circle fill="#E5E5E5" stroke="#000000" stroke-miterlimit="10" cx="36.248" cy="220.517" r="6.853"/>
	<circle fill="#E5E5E5" stroke="#000000" stroke-miterlimit="10" cx="59.123" cy="220.518" r="9.459"/>
	<circle fill="#E5E5E5" stroke="#000000" stroke-miterlimit="10" cx="59.123" cy="220.517" r="6.853"/>
	<circle fill="#E5E5E5" stroke="#000000" stroke-miterlimit="10" cx="81.374" cy="220.518" r="9.459"/>
	<circle fill="#E5E5E5" stroke="#000000" stroke-miterlimit="10" cx="81.374" cy="220.517" r="6.853"/>
	<circle fill="#E5E5E5" stroke="#000000" stroke-miterlimit="10" cx="103.475" cy="220.518" r="9.459"/>
	<circle fill="#E5E5E5" stroke="#000000" stroke-miterlimit="10" cx="103.475" cy="220.517" r="6.853"/>
	<circle fill="#E5E5E5" stroke="#000000" stroke-miterlimit="10" cx="228.623" cy="220.518" r="9.459"/>
	<circle fill="#E5E5E5" stroke="#000000" stroke-miterlimit="10" cx="228.623" cy="220.517" r="6.853"/>
	<circle fill="#E5E5E5" stroke="#000000" stroke-miterlimit="10" cx="251.373" cy="220.518" r="9.459"/>
	<circle fill="#E5E5E5" stroke="#000000" stroke-miterlimit="10" cx="251.373" cy="220.517" r="6.853"/>
	<circle fill="#E5E5E5" stroke="#000000" stroke-miterlimit="10" cx="274.174" cy="220.518" r="9.459"/>
	<circle fill="#E5E5E5" stroke="#000000" stroke-miterlimit="10" cx="274.173" cy="220.517" r="6.853"/>
	<circle fill="#E5E5E5" stroke="#000000" stroke-miterlimit="10" cx="296.525" cy="220.518" r="9.459"/>
	<circle fill="#E5E5E5" stroke="#000000" stroke-miterlimit="10" cx="296.525" cy="220.517" r="6.853"/>
	
		<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="977.4111" y1="1533.168" x2="1078.6621" y2="1533.168" gradientTransform="matrix(1 0 0 1 -861.9609 -1322.7598)">
		<stop  offset="0" style="stop-color:#999999"/>
		<stop  offset="0.5" style="stop-color:#E6E7E8"/>
		<stop  offset="1" style="stop-color:#999999"/>
	</linearGradient>
	<rect x="115.45" y="185.117" fill="url(#SVGID_1_)" stroke="#000000" stroke-miterlimit="10" width="101.251" height="50.583"/>
	
		<linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="984.2109" y1="1580.5098" x2="1071.8613" y2="1580.5098" gradientTransform="matrix(1 0 0 1 -861.9609 -1322.7598)">
		<stop  offset="0" style="stop-color:#999999"/>
		<stop  offset="0.5" style="stop-color:#E6E7E8"/>
		<stop  offset="1" style="stop-color:#999999"/>
	</linearGradient>
	<rect x="122.25" y="245.75" fill="url(#SVGID_2_)" stroke="#000000" stroke-miterlimit="10" width="87.65" height="24"/>
	
		<linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="982.7109" y1="1477.5098" x2="1073.3613" y2="1477.5098" gradientTransform="matrix(1 0 0 1 -861.9609 -1322.7598)">
		<stop  offset="0" style="stop-color:#999999"/>
		<stop  offset="0.5" style="stop-color:#E6E7E8"/>
		<stop  offset="1" style="stop-color:#999999"/>
	</linearGradient>
	<rect x="120.75" y="142.75" fill="url(#SVGID_3_)" stroke="#000000" stroke-miterlimit="10" width="90.65" height="24"/>
	<rect x="146.167" y="114.333" fill="#CCCCCC" stroke="#000000" stroke-miterlimit="10" width="39.815" height="28.417"/>
	<rect x="153.438" y="110.998" fill="#CCCCCC" stroke="#000000" stroke-miterlimit="10" width="25.275" height="3.336"/>
	
		<linearGradient id="SVGID_4_" gradientUnits="userSpaceOnUse" x1="994.2109" y1="1563.4844" x2="1061.8613" y2="1563.4844" gradientTransform="matrix(1 0 0 1 -861.9609 -1322.7598)">
		<stop  offset="0" style="stop-color:#999999"/>
		<stop  offset="0.5" style="stop-color:#E6E7E8"/>
		<stop  offset="1" style="stop-color:#999999"/>
	</linearGradient>
	<rect x="132.25" y="235.7" fill="url(#SVGID_4_)" stroke="#000000" stroke-miterlimit="10" width="67.65" height="10.05"/>
	
		<linearGradient id="SVGID_5_" gradientUnits="userSpaceOnUse" x1="994.2109" y1="1502.8516" x2="1061.8613" y2="1502.8516" gradientTransform="matrix(1 0 0 1 -861.9609 -1322.7598)">
		<stop  offset="0" style="stop-color:#999999"/>
		<stop  offset="0.5" style="stop-color:#E6E7E8"/>
		<stop  offset="1" style="stop-color:#999999"/>
	</linearGradient>
	<rect x="132.25" y="175.067" fill="url(#SVGID_5_)" stroke="#000000" stroke-miterlimit="10" width="67.65" height="10.05"/>
	
		<linearGradient id="SVGID_6_" gradientUnits="userSpaceOnUse" x1="990.3613" y1="1493.668" x2="1065.7109" y2="1493.668" gradientTransform="matrix(1 0 0 1 -861.9609 -1322.7598)">
		<stop  offset="0" style="stop-color:#999999"/>
		<stop  offset="0.5" style="stop-color:#E6E7E8"/>
		<stop  offset="1" style="stop-color:#999999"/>
	</linearGradient>
	<rect x="128.4" y="166.75" fill="url(#SVGID_6_)" stroke="#000000" stroke-miterlimit="10" width="75.35" height="8.317"/>
	
		<linearGradient id="SVGID_7_" gradientUnits="userSpaceOnUse" x1="994.2109" y1="1599.2598" x2="1061.8613" y2="1599.2598" gradientTransform="matrix(1 0 0 1 -861.9609 -1322.7598)">
		<stop  offset="0" style="stop-color:#999999"/>
		<stop  offset="0.5" style="stop-color:#E6E7E8"/>
		<stop  offset="1" style="stop-color:#999999"/>
	</linearGradient>
	<rect x="132.25" y="269.75" fill="url(#SVGID_7_)" stroke="#000000" stroke-miterlimit="10" width="67.65" height="13.5"/>
	<line fill="none" stroke="#000000" stroke-miterlimit="10" x1="166.084" y1="114.333" x2="166.084" y2="142.75"/>
	<path fill="#96B4FA" stroke="#000000" stroke-miterlimit="10" d="M228.5,291.625L228.5,291.625c0-4.625-3.75-8.375-8.375-8.375
		H108.208c-4.625,0-8.375,3.75-8.375,8.375l0,0V336H228.5V291.625z"/>
	<path fill="#96B4FA" stroke="#000000" stroke-miterlimit="10" d="M225.584,293.518L225.584,293.518
		c0-5.767-1.167-7.517-7.996-7.517H110.745c-5.995,0-7.995,1.667-7.995,7.517l0,0v39.816h122.834V293.518z"/>
	<polygon fill="#96B4FA" stroke="#000000" stroke-miterlimit="10" points="251.25,336 251.25,336 251.25,392.875 90,392.875 90,336 
		90,336 	"/>
	<polygon fill="#96B4FA" stroke="#000000" stroke-miterlimit="10" points="188.5,346.25 188.5,346.25 188.5,383.5 99.833,383.5 
		99.833,346.25 99.833,346.25 	"/>
</g>
<g id="run" *ngIf="data.status.run">
	<rect x="115.45" y="185.117" fill="#22B14C" stroke="#000000" stroke-miterlimit="10" width="101.251" height="50.583"/>
</g>
<g id="dis" *ngIf="data.status.dis">
	<path fill="#FF0000" stroke="#000000" stroke-miterlimit="10" d="M225.584,293.518L225.584,293.518
		c0-5.767-1.167-7.517-7.996-7.517H110.745c-5.995,0-7.995,1.667-7.995,7.517l0,0v39.816h122.834V293.518z"/>
</g>
</svg>
</div>
<!-- <div class="legenda">
    <div class="run">RUN &nbsp;<span [ngClass]="{'active': status.run}">●</span></div>
    <div class="mis">MIS &nbsp;<span [ngClass]="{'active': status.mis}">●</span></div>
    <div class="dis">DIS &nbsp;<span [ngClass]="{'active': status.dis}">●</span></div>
    <div class="rwa">RWA &nbsp;<span [ngClass]="{'active': status.rwa}">●</span></div>
</div> -->