<div fxLayout="column" class="fx-full-height">

    <div fxLayout="row" fxLayoutAlign="space-between">
        <h3 *ngIf="cityId == null">{{'EXAMPLE.MEASUREMENT.PAGETITLE.LIST|Measurements' | translate}}</h3>
        <h3 *ngIf="cityId != null">{{'EXAMPLE.MEASUREMENT.PAGETITLE.LISTFOR|Measurements for' | translate}} <a
                [routerLink]="['/example/cities/', cityId]">{{cityName}}</a></h3>

        <button kendoButton [primary]="true" [routerLink]="['new']" [queryParams]="{cityId: cityId}"
            translate>EXAMPLE.MEASUREMENT.NEW|New Measurement</button>
    </div>

    <kendo-panelbar>
        <kendo-panelbar-item title="{{'EXAMPLE.MEASUREMENT.FILTER|Filter' | translate}}" expanded="true">
            <ng-template kendoPanelBarContent>
                <app-measurement-list-filter [filterCityId]="cityId" (filterChange)="onFilterChange($event)">
                </app-measurement-list-filter>
            </ng-template>
        </kendo-panelbar-item>
    </kendo-panelbar>

    <div fxFlex class="fx-full-height-grid-container">
        <div *ngIf="isMobile | async; then cardList else columnGrid"></div>
        <ng-template #cardList>
            <kendo-grid class="fx-full-height fx-full-width" [data]="data" [pageable]="true" [pageSize]="pageSize"
                [skip]="dataRequest.page.skip" [loading]="isLoading" (pageChange)="onPageChange($event)">
                <kendo-grid-column title="{{'EXAMPLE.ITEMS|Items' | translate}}">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <div fxLayout="column">
                            <div fxLayout="row">
                                <div fxFlex="1 1 0" translate>EXAMPLE.MEASUREMENT.FIELDS.MEASUREDAT|Measured At</div>
                                <a fxFlexOffset="1em" fxFlex="2 1 0" class="k-text-info"
                                    [routerLink]="[dataItem.id]">{{dataItem.measuredAt | localeKendoDate:'g'}}</a>
                            </div>
                            <div fxLayout="row" fxFlexOffset=".5em">
                                <div fxFlex="1 1 0" translate>EXAMPLE.MEASUREMENT.FIELDS.CITYNAME|City</div>
                                <span fxFlexOffset="1em" fxFlex="2 1 0">{{dataItem.cityName}}</span>
                            </div>
                            <div fxLayout="row" fxFlexOffset=".5em">
                                <div fxFlex="1 1 0" translate>EXAMPLE.MEASUREMENT.FIELDS.WEATHER|Weather</div>
                                <span fxFlexOffset="1em" fxFlex="2 1 0"><img height="32"
                                        [src]="'assets/example/' + WeatherType[dataItem.weather].toLowerCase() + '.png'"></span>
                            </div>
                            <div fxLayout="row" fxFlexOffset=".5em">
                                <div fxFlex="1 1 0" translate>EXAMPLE.MEASUREMENT.FIELDS.TEMPERATUREC|Temperature (C)
                                </div>
                                <span fxFlexOffset="1em"
                                    fxFlex="2 1 0">{{dataItem.temperatureC | localeKendoNumber:'n'}}</span>
                            </div>
                            <div fxLayout="row" fxFlexOffset=".5em">
                                <div fxFlex="1 1 0" translate>EXAMPLE.MEASUREMENT.FIELDS.PRESSUREMB|Pressure (mbar)
                                </div>
                                <span fxFlexOffset="1em"
                                    fxFlex="2 1 0">{{dataItem.pressureMB | localeKendoNumber:'n'}}</span>
                            </div>
                        </div>
                    </ng-template>
                </kendo-grid-column>
            </kendo-grid>
        </ng-template>

        <ng-template #columnGrid>
            <kendo-grid class="fx-full-height fx-full-width" [style.height.%]="100" [data]="data" [pageable]="true"
                [pageSize]="pageSize" [skip]="dataRequest.page.skip" [loading]="isLoading"
                (pageChange)="onPageChange($event)">
                <kendo-grid-column field="measuredAt"
                    title="{{'EXAMPLE.MEASUREMENT.FIELDS.MEASUREDAT|Measured At' | translate}}">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <a class="k-text-info"
                            [routerLink]="[dataItem.id]">{{intl.formatDate(dataItem.measuredAt, "g")}}</a>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="cityName" title="{{'EXAMPLE.MEASUREMENT.FIELDS.CITYNAME|City' | translate}}">
                </kendo-grid-column>
                <kendo-grid-column field="weather" title="{{'EXAMPLE.MEASUREMENT.FIELDS.WEATHER|Weather' | translate}}">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <img height="32"
                            [src]="getWeatherTypeImage(dataItem.weather)">
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="temperatureC"
                    title="{{'EXAMPLE.MEASUREMENT.FIELDS.TEMPERATUREC|Temperature (C)' | translate}}" format="n">
                </kendo-grid-column>
                <kendo-grid-column field="pressureMB"
                    title="{{'EXAMPLE.MEASUREMENT.FIELDS.PRESSUREMB|Pressure (mbar)' | translate}}" format="n">
                </kendo-grid-column>
            </kendo-grid>
        </ng-template>

    </div>
</div>