<div class="svg-box">
    <svg version="1.1" id="rolls-small" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
    y="0px" width="154px" height="400px" viewBox="0 0 154 400" enable-background="new 0 0 154 400" xml:space="preserve">
<g id="mis" *ngIf="data.status.mis">
   <rect x="-1.021" y="204.408" fill="#FC5204" stroke="#000000" stroke-miterlimit="10" width="156.207" height="6.037"/>
</g>
<g id="base">
   <circle fill="#E5E5E5" stroke="#000000" stroke-miterlimit="10" cx="11.563" cy="220.518" r="9.459"/>
   <circle fill="#E5E5E5" stroke="#000000" stroke-miterlimit="10" cx="11.563" cy="220.517" r="6.853"/>
   <circle fill="#E5E5E5" stroke="#000000" stroke-miterlimit="10" cx="33.372" cy="220.518" r="9.459"/>
   <circle fill="#E5E5E5" stroke="#000000" stroke-miterlimit="10" cx="33.372" cy="220.517" r="6.853"/>
   <circle fill="#E5E5E5" stroke="#000000" stroke-miterlimit="10" cx="55.182" cy="220.518" r="9.459"/>
   <circle fill="#E5E5E5" stroke="#000000" stroke-miterlimit="10" cx="55.182" cy="220.517" r="6.853"/>
   <path fill="#E5E5E5" stroke="#000000" stroke-miterlimit="10" d="M76.999,211.059c5.228,0,9.461,4.235,9.461,9.459
       c0,5.228-4.233,9.459-9.461,9.459c-5.231,0-9.467-4.231-9.467-9.459C67.532,215.294,71.768,211.059,76.999,211.059z"/>
   <path fill="#E5E5E5" stroke="#000000" stroke-miterlimit="10" d="M76.999,213.664c3.787,0,6.854,3.068,6.854,6.854
       c0,3.784-3.067,6.854-6.854,6.854c-3.793,0-6.86-3.067-6.86-6.854C70.139,216.732,73.206,213.664,76.999,213.664z"/>
   <circle fill="#E5E5E5" stroke="#000000" stroke-miterlimit="10" cx="98.813" cy="220.518" r="9.459"/>
   <circle fill="#E5E5E5" stroke="#000000" stroke-miterlimit="10" cx="98.813" cy="220.517" r="6.853"/>
   <circle fill="#E5E5E5" stroke="#000000" stroke-miterlimit="10" cx="120.622" cy="220.518" r="9.459"/>
   <circle fill="#E5E5E5" stroke="#000000" stroke-miterlimit="10" cx="120.622" cy="220.517" r="6.853"/>
   <circle fill="#E5E5E5" stroke="#000000" stroke-miterlimit="10" cx="142.434" cy="220.518" r="9.459"/>
   <circle fill="#E5E5E5" stroke="#000000" stroke-miterlimit="10" cx="142.434" cy="220.517" r="6.853"/>
</g>
</svg>
</div>
<!-- <div class="legenda">
    <div class="run forse">RUN? &nbsp;<span [ngClass]="{'active': status.run}">●</span></div>
    <div class="mis">MIS &nbsp;<span [ngClass]="{'active': status.mis}">●</span></div>
    <div class="dis forse">DIS? &nbsp;<span [ngClass]="{'active': status.dis}">●</span></div>
    <div class="rwa forse">RWA? &nbsp;<span [ngClass]="{'active': status.rwa}">●</span></div>
</div> -->