@{
    Layout = "_DAWI-Layout";
}

@model LoginViewModel

<div class="login-page k-panelbar">

    <div class="k-item k-state-default k-state-expanded">

        <span class="k-header k-link k-state-selected" >
            Login
        </span>

        <div class="k-content" style="background-color: #333333; color: white;">


            <form asp-route="Login" class="k-form" >

                @if (ViewContext.ModelState.IsValid == false)
                {
                    <div asp-validation-summary="All" class="k-alert-error validation-summary"></div>
                }

                <input type="hidden" asp-for="ReturnUrl" />

                <div>

                    <label class="k-form-field">
                        <span style = "color: white;" asp-for="Username">Username</span>
                        <input style = "background-color: #3c3b3b;" class="k-textbox" placeholder="Username" asp-for="Username" autofocus>
                    </label>
                    <label class="k-form-field">
                        <span style = "color: white;" asp-for="Password">Password</span>
                        <input type="password" style = "background-color: #3c3b3b;" class="k-textbox" placeholder="Password" asp-for="Password" autocomplete="off">
                    </label>
                    @if (Model.AllowRememberLogin)
                    {
                        <label class=" k-form-field login-remember">

                            <input style = "background-color: #3c3b3b;" asp-for="RememberLogin" class="k-checkbox">
                            <label style = "color: white;" asp-for="RememberLogin" class="k-checkbox-label">
                                Remember My Login
                            </label>
                        </label>
                    }
                </div>

                <fieldset class="actions-fieldset">
                    <div class="actions">
                        <button class="k-button k-primary" name="button" value="login">Login</button>
                    </div>
                </fieldset>


            </form>
        </div>


    </div>



</div>